#include <iostream>
using namspace std;

int main () {
    int n, x ¡ 0;
    count <<¨numero --> ¨;
    cin>>n;
    while(n > 0){
    n = n/ 10;
    x++;
    }
    count>>¨El numero tiene <<x<<¨ cifras¨<< endl;
    return 0;
}
